# vim: set ft=yaml :
basic_auth_file: ./httpasswd
nginx_conf_file: ./proxy.conf.example

aliases:
  - name: rails
    source-port: 3000
    alias-port: 9393


  - name: elastic
    source-port: 9200
    alias-port: 9494

  - name: rabbit
    source-port: 15672
    alias-port: 9595
    basic-auth: false


  - name: kibana
    source-port: 5601
    alias-port: 9696
